/* <-- Styling for the background of the profile picture -->*/
.profile{
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background-color: rgb(245, 210, 216);
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  position: relative;
  z-index: 1;
}


/*<-- Outline styling for the profile username -->*/
.bold {
  color: white;
  text-shadow: -1px -1px 0 #320657, 1px -1px 0 #320657, -1px 1px 0 #320657, 1px 1px 0 #320657;
}

