/* <-- Styling for the nav bar including the (disabled) form toggle--> */

.logo{
  font-family: bungee;
  margin-left: 1em;
  font-size: xx-large;

}

.top{
  display: flex;
  height: 120px;
  width: 100vw;
  background-color: #320657;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;


}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow{
  color: rgb(245, 170, 181);
}


