.new-tweet{
  width: 100%;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
}

.new-tweet form div button {
  background: rgb(245, 170, 181);
  color: white;
  font-family: 'Bungee';
  padding: 3px;
}

#tweet-text {
  margin-top: 1em;
  min-height: 1em;
  border-bottom: 3px solid #320657;
  color: #320657;
  font-weight: bolder;
  background: #ffffff;
  margin-bottom: 1em;

}

article.tweet footer div i:hover {
  color: rgb(247, 128, 146);
  transition: .3s;
}


#error-notification {
  border-style:ridge;
  border-color:black;
  color: #320657;
  background-color: rgb(247, 128, 146);
  border-width: 5px;
  display: none;
  margin-bottom: 1em;
  text-align:center;
}